# Copyright (C) 2026 chickendrop89
# SPDX-License-Identifier: GPL-3.0-only

service virtual_torch /system/bin/virtual_torch.sh
    user root
    group root
    priority 5
    disabled
    seclabel u:r:recovery:s0

on property:twrp.modules.loaded=true
    wait /sys/class/leds/led:switch_0
    start virtual_torch
